[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/tlibvim"]
	path = bundle/tlibvim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/supertab0"]
	path = bundle/supertab0
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/minibufexpl-fho"]
	path = bundle/minibufexpl-fho
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "bundle/textlint"]
	path = bundle/textlint
	url = git@github.com:DamienCassou/textlint.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
